




#barraSuperior {
    margin: 10px;

    display: flex;
    background-color: purple;
    justify-content: space-between;
    flex-direction: column;

}

#opciinesMenu {
    display: flex;
    justify-content: start;
    flex-direction: row;
    gap: 15px;
    list-style: none;



}

#opcionesNav{
    display: flex;
    justify-content: start;
    flex-direction: row;



}

#logoHotty {
    color: white;
}

#logo {
    display: flex;
    background-color: purple;
    flex-direction: column;
}


.botonesSuperiores {
    color: white;
}

#contenedorBarraSuperior {
    background-color: purple;
    margin: "20px";

    border-radius: 11px;
}

.contenedorPerfiles {
    display: flex;
    flex-direction: column;
    height: 20%;
}

.perfil {
    display: flex;
    justify-content: left;
    width: 100%;

    flex-direction: column;
}



.profileBigPicture {
    width: 40%;
}

.profilesList {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    flex-wrap: nowrap;
    max-width: min-content;



}

.profileSmallPictureList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 30%;
    width: 60%;
}

.profileSmallPictureRow {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    overflow: scroll;
    width: 100%;
    overflow-x: auto;
}

.smallPicture {
    border-radius: 10px;
    flex: 1;
}

.bigPicture {
    border-radius: 10px;
    width: 100%;
}

#profileHeader {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;

}

nav {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-around
}